# Arquivos Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
env/
ENV/

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
